@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      .no-scrollbar {
          -ms-overflow-style: none;
          scrollbar-width: none; 
      }
    }
  }

@layer base {

    .inputfile {
        @apply opacity-0;
        @apply overflow-hidden;
        @apply absolute;
        @apply z-10;
        @apply cursor-pointer;
    }
    

    .inputfile + label {
        @apply cursor-pointer;
        @apply relative;
    }

    .inputfile + label * {
        @apply pointer-events-none
    }

    p {
        margin: 0 !important;
    }

    input[type='range'] {
        overflow: visible;
        width: 50%;
        height: 5px;
        border-radius: 20px;
        border: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #dfdfdf;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #2e88ff;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #dfdfdf;
        /* box-shadow: -80px 0 0 80px #2e88ff; */
    }

    input[type="range"]::-moz-range-progress {
        background-color: #2e88ff; 
    }
    input[type="range"]::-moz-range-track {  
        background-color: #dfdfdf;
    }
    /* IE*/
    input[type="range"]::-ms-fill-lower {
        background-color: #2e88ff; 
    }
    input[type="range"]::-ms-fill-upper {  
        background-color: #dfdfdf;
    }

}